body {
    display: flex;
    justify-content: center;
    align-items: center;
}



.divCounter{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 2%;
   width: 100%;
   font-size: 150px;
   color: black;
   font-weight: bolder;
}

.iconoReloj {
    width: 100px;
}

#divprincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    background-color: rgb(238, 223, 182);
    height: 200px;
    width: 1000px;
    flex-direction: row;
    border-radius: 10%;
    animation: glow 1.5s infinite alternate;
}
